@import '../../styles/application/variables';

.list {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  background: #20232a;

  // @media #{$large} {
  //   padding-top: 6px;
  // }

  &__item {
    border-bottom: 1px solid white;
    list-style-type: none;
    display: block;

    &:last-child {
      border-bottom: none;
    }

    @media #{$large} {
      display: inline-block;
      border-bottom: none;
    }
  }

  &__link {
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    padding: .5em 2em;
    display: inline-block;
    text-decoration: none;

    &--selected {
      color: #59ccee;
    }

    &:hover {
      color: #e8c444;
    }

    @media #{$large} {
      font-size: 1.2rem;
    }
  }
}

.header {
  margin: 0 0 1em 0;
  padding: 0;
}

.icon {
  &-logo {
    animation: App-logo-rotate infinite 20s linear;
    height: 90px;
    @media #{$large} {
      height: 70px;
    }
  }

  &-search {
    position: absolute;
    right: 11%;
    top: 30%;
  }
}

.section-nav {
  background: #07365e;
  display: block;
  text-align: center;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    background: #20232a;
  }

  &__box-search {
    position: relative;
    height: 84%;
    transition: .3s;
  }

  &__search {
    padding: .5em 1em;
    border: none;
    height: 72%;
    width: 60%;
    padding-right: 20%;
    border-radius: 3px;
    font-size: 1rem;
    background: rgba(78, 79, 79, 0.7);
    color: white;
    outline-color: white;
    transition: .3s;

    &:focus {
      background: #FFF;
      color: #000;
    }
  }

  @media #{$large} {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes App-logo-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
